ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

li {
    font-size: 1.25rem;
}

.navBar {
    background: #025928;
    box-shadow: 4px 2px 5px black;
    color: #fffbce;
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;
}

.navBar button {
    background: transparent;
    border: 2px solid #fffbce;
    color: #fffbce;
    box-shadow: 2px 2px 5px black;
}

.navBar button:hover {
    background: #fffbce;
    color: #025928;
    cursor: pointer;
}

.brand {
    cursor: pointer;
    font-size: 2rem;
}
