@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(
        to right bottom,
        #fffbce,
        #e8f3b9,
        #cceba8,
        #abe49b,
        #81dd95
    );
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

p {
    font-size: 125%;
    color: #025928;
}

div {
    text-align: center;
}

h2 {
    color: #025928;
    text-shadow: 1px 1px 2px black;
    font-size: 200%;
}

h3 {
    color: #025928;
    font-size: 150%;
}

th {
    color: #025928;
}

td {
    color: #025928;
    padding: 1.5%;
}

button {
    background-color: #025928;
    border: 2px solid #025928;
    border-radius: 15px;
    color: #fffbce;
    font-family: inherit;
    max-width: 100px;
    padding: 5px 15px;
    transition: all 200ms ease-in-out;
    box-shadow: 3px 3px 10px black;
}

button:hover {
    cursor: pointer;
    color: #025928;
    background-color: transparent;
}

input {
    background-color: transparent;
    border: 2px solid #025928;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    transition: all 200ms ease-in-out;
}

input:hover {
    box-shadow: 2px 2px 8px black;
}

input:focus {
    outline: none;
    border: 3px solid #025928;
}

label {
    color: #025928;
}

input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 5px;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border-radius: 1px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #025928;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:hover {
    box-shadow: 3px 3px 8px black;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

hr {
    color: #025928;
    border: none;
    border-top: 1px dotted #025928;
    margin: 10px 0;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    text-align: center;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.form input {
    display: block;
    width: 100%;
    height: 25px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.login-register-page-button {
    margin-bottom: 5em;
}

.link-to-register {
    text-decoration: none;
    color: #025928;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.link-to-register:hover {
    font-weight: 900;
}

.update-income-input {
    max-width: 160px;
    margin: 5px 25px;
    padding: 3px;
}

.income-script {
    display: inline;
    margin: 15px;
    font-size: 150%;
}

.update-buttons {
    font-size: 75%;
    padding: 4px 10px;
    margin-top: 8px;
}

.income-comp-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.debt-savings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.debt-savings-internal-container {
    width: 45%;
    margin: 2%;
    padding: 1%;
    padding-bottom: 3%;
    border: 1px dotted #025928;
    border-radius: 20px;
    background-color: #eaf4be51;
    min-width: min-content;
}

.budget-comp-container {
    border: 1px dotted #025928;
    margin: auto;
    width: 60%;
    padding: 1%;
    padding-bottom: 2%;
    border-radius: 20px;
    margin-bottom: 2em;
    background-color: #eaf4be51;
    min-width: min-content;
}

.form-labels {
    display: block;
}

.form-individual-input-boxs {
    margin-top: 15px;
}

.budget-update-button-form {
    margin-top: 3%;
}

.form-inputs {
    width: 90%;
    padding: 6px;
}

.form-checkbox-investment {
    margin-top: 25px;
    margin-bottom: 7px;
}

.saving-debt-update-button {
    margin-bottom: 1em;
}

.debt-add-update-button {
    margin-top: 3%;
}
